---
import "../styles/index.css"
import { css } from "../../styled-system/css"
import { flex } from "../../styled-system/patterns"

const socialHeaderLinks = flex({
  alignItems: "center",
  mx: [undefined, "20px", "10px"],
  h: "30px",
  fontFamily: "GeneralSansSemibold, sans-serif",
  fontSize: "18px",
  textShadow: "0px 3px 6px #00000029",
  "& img": { mr: "10px", h: [undefined, "30px", "24px"] },
  "& span": { display: ["none", undefined, "inline"] },
  hideBelow: "sm",
})
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Afrânio 2024</title>
    <meta name="robots" content="noindex" />
    <script is:inline src="/scripts/modernizr-custom.js"></script>
  </head>
  <body class={css({ maxW: "1920px", m: "0 auto" })}>
    <header
      class={flex({
        justifyContent: "center",
        alignItems: "center",
        bg: "greenHeader",
        h: "var(--header-height)",
        textAlign: "center",
        pt: "40px",
        "& a": {
          color: "white",
        },
      })}
    >
      <a
        href="https://www.instagram.com/afranioboppre50/"
        target="_blank"
        class={socialHeaderLinks}
      >
        <img src="/images/social-instagram.svg" />
        <span>Instagram</span></a
      >
      <a
        href="https://www.threads.net/@afranioboppre50"
        target="_blank"
        class={socialHeaderLinks}
      >
        <img src="/images/social-threads.svg" />
        <span>Threads</span></a
      >
      <img
        class={css({ h: "113px", w: "169px", mx: "20px", mt: "10px" })}
        src="/images/logo-small.svg"
        alt="Afrânio 50100"
      />
      <a
        href="https://www.facebook.com/afranioboppre50"
        target="_blank"
        class={socialHeaderLinks}
      >
        <img src="/images/social-facebook.svg" />
        <span>Facebook</span></a
      >
      <a
        href="https://x.com/afranioboppre50"
        target="_blank"
        class={socialHeaderLinks}
      >
        <img src="/images/social-twitter.svg" />
        <span>Twitter</span></a
      >
    </header>
    <div
      id="welcome"
      class={flex({
        alignItems: "flex-end",
        bgImage: "url(/images/afranio_ponte.webp)",
        bgRepeat: "no-repeat",
        bgPosition: "center top",
        bgSize: "cover",
        h: [
          "450px",
          "calc(100vh - (var(--header-height) + var(--big-image-bottom-white-space)))",
        ],
        maxH: "700px",
        px: "20px",
      })}
    >
      <img
        class={css({
          mx: "auto",
          mb: "calc(-1 * var(--big-image-bottom-white-space))",
          h: "auto",
          w: ["450px", "550px"],
        })}
        src="/images/logo-big.svg"
        alt="Afrânio 50100"
      />
    </div>
  </body>
</html>
